#player {
    display: inline-block;
    width: 50%;
    min-width: 480px;
    max-width: 700px;
    height: auto;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px;
    background: white;
    border-radius: 1.5em;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
}

#player:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

#album {
    float: left;
    width: 100px;
    height: 100px;
    margin: 45px 15px 45px 35px;
    background: burlywood;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5em;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#album:hover {
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

#album:active {
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.15);
    transform: scale(0.99);
}

#play-button {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

#play-button:active {
    background-color: rgba(0, 0, 0, 0.4);
}

#volume-button {
    float: right;
    width: 35px;
    height: 35px;
    margin: 50px 30px 20px 25px;
    background: url('../pic/volume0.svg'),
                url('../pic/volume1.svg'),
                url('../pic/volume2.svg'),
                url('../pic/volume3.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
}

#info-area {
    float: left;
    position: absolute;
    left: 0px;
    right: 95px;
    margin: 45px 0 0 0;
    padding: 0 0 0 10px;
    z-index: 1;
}

#song-name, #song-info {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Source Han Sans", "PingFang SC", "Segoe UI",
                 SegoeUI, "Microsoft YaHei", 微软雅黑,
                 "Helvetica Neue", Helvetica, sans-serif;
}

#song-name {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

#song-info {
    font-size: 0.9em;
    font-weight: normal;
    color: rgb(140, 140, 140);
}

#progress-container {
    height: 24px;
    padding: 0 35px 0 11px;
}

#progress-bar, #volume-bar {
    width: 100%;
    height: 4px;
    background: rgb(235, 235, 235);
    border-radius: 4px;
}

#progress-bar {
    margin: 9px 0 0 0;
}

#progress, #volume {
    width: 0;
    height: 100%;
    background: rgb(60, 60, 60);
}

#handle, #volume-handle {
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 14px;
    height: 14px;
    margin: 3px;
    background: white;
    border-radius: 50%;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#handle {
    top: 0;
}

#time-code {
    font-size: 0.7em;
    color: rgb(75, 75, 75);
}

#volume-container {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    top: 48px;
    right: 70px;
    width: 120px;
    height: 40px;
    background: white;
    z-index: 2;
    box-shadow: -5px 5px 5px rgba(255, 255, 255, 1);
    opacity: 0;
}

#volume-bar {
    margin: 0 12px 0 10px
}

#volume-handle {
    top: 9px;
}
